
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> <div>

    <h2>Excel Import tr</h2>

    <form method="post" enctype="multipart/form-data">
        <div>
            <input name="file" type="file" required />
            <button type="submit">Import</button>
        </div>
    </form>
</div>
    </div>
</body>
</html>
